</script>
<div id="app-container" ng-controller="GameController">
  <div class="container-fluid">
  <div id="menu-container" >
    <div class="brand-name" id="logo">
      <a href="/">
        <span class="first-word">Cards</span>
        <span class="second-word">for</span>
        <span class="third-word">Humanity</span>
      </a>
    </div>
    <div id = 'abandon-game-button' class="abandon-game" ng-click="abandonGame()">
        <i class="fa fa-2x fa-times times" aria-hidden="true"></i>
    </div>
        <span id="tweet">
      <a href="https://twitter.com/share"  data-url="http://cfh.io" data-text="Cards for Humanity: A Game for Horrible People Desperately Trying to do Good" data-related="CFH_App"><i class="fa fa-2x fa-twitter twitter" aria-hidden="true"></i></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </span>
  </div>
  </div>
  <div id="gameplay-container">
    <div id="upper-gameplay-container">
      <div id="menu-timeremaining-container">
        <div id="menu-container">
          <span id="menu-button">Menu</span>
        </div>
        <div id="timer-container">
          <timer></timer>
        </div>
      </div>
      <div id="question-container-outer">
        <question></question>
      </div>
    </div>
    <answers></answers>
  </div>
</div>
