<div class="chatpanel">
    <div class="panel-heading" style="background: black; color: white">
        <span class="glyphicon glyphicon-{{chat.unreadMessageCount > 0 ?'envelope' : 'comment'}}"></span> Chat {{chat.unreadMessageCount}}
        <div class="btn-group pull-right">
            <a type="button" class="btn btn-default btn-xs" ng-click="showChat()">
                <span class="glyphicon glyphicon-chevron-{{chat.showChatWindow?'down': 'up'}}"></span>
            </a>
        </div>
    </div>
    <div ng-show="chat.showChatWindow">
        <div id="results" class="chatthread">
            <ul class="media-list" style="max-height: 300px">
                <li ng-repeat="message in chat.messageArray" class="chat">
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">{{message.senderName}} | </strong>
                            <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{message.time}}</small>
                        </div>
                        {{message.textContent}}
                    </div>
                </li>
            </ul>
        </div>
        <div class="chatinput">
            <div class="input-group">
                <input id="text" type="text" class="form-control" placeholder="Enter Message" ng-model="chatMessage" ng-keypress="keyPressed($event)"/>
        <span class="input-group-btn">
        <button id="post" class="btn btn-info" ng-click="sendMessage(chatMessage)" type="button">SEND</button>
        </span>
            </div>
        </div>
    </div>
</div>