<div id="main-bod" ng-controller="IndexController">
  <!-- Fixed Logo & Menu Bar Start -->
  <nav class="navbar navbar-default navbar-fixed-top navbar-auth auth-home" id="nav-id">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right ">
        <li class='auth-home'><a href="/">Home </a></li>
      </ul>
    </div>
  </div>
  </nav>
  <!-- Fixed Logo & Menu Bar End -->

<!-- Landing Start -->
<div id="signin-main">
    <div class="brand-name">
        <span class="first-word">Cards</span>
        <span class="second-word">for</span>
        <span class="third-word">Humanity</span>
    </div>
    <div id="signin-form">
      <div class="sign-body">
        <div class="more-sign">
          <div class="sign-error" ng-show="showError() === 'invalid'">
            <p>Please check your username/password and try again.</p>
          </div>
        </div>
      </div>
      <div id="auth-form">
        <form class="signup form-horizontal" method="post" action="/api/auth/login">
          <div class="form-group">
            <div class="controls">
              <input class="input-info" id="email" ng-model="login_data.email" type="text" name="email" placeholder="Email" required novalidate/>
            </div>
          </div>
          <div class="form-group">
            <div class="controls">
              <input class="input-info" id="password" ng-model="login_data.password" type="password" name="password" placeholder="Password" required novalidate />
            </div>
          </div>
          <div class="form-group">
            <button id="sign-up-btn-other" type='submit' class="auth-button"> Sign In</button>
          </div>
        </form>
        <div class="hr">
          <div></div>
          <div>OR</div>
          <div></div>
        </div>
      </div>
      <div class="login-icons">
        <a href="/auth/facebook"><i class="fa fa-3x fa-facebook-official facebook" aria-hidden="true"></i></a>
        <a href="/auth/github"><i class="fa fa-3x fa-github github " aria-hidden="true"></i></a>
        <a href="/auth/twitter"><i class="fa fa-3x fa-twitter twitter" aria-hidden="true"></i></a>
        <a href="/auth/google"><i class="fa fa-3x fa-google google" aria-hidden="true"></i></a>
      </div>
      <div class="auth-switch">
        Don't have an existing account? <a href="/signup"> Create an account</a>
      </div>
    </div>
</div>

