<div id="main-bod" ng-controller="IndexController">
<!-- Landing Start -->
<div id="signin-main">
    <div class="brand-name"> <a href="/">
        <span class="first-word">Cards</span>
        <span class="second-word">for</span>
        <span class="third-word">Humanity</span>
   </a> </div>

    <div id="signup-form">
      
      <div id="auth-form">
        <form class="signup form-horizontal" action="/users" method="post">
          <div class="row">
            <div class="col-md-6">
              <div class="select-avatar">
                <span>Select an Avatar</span>
              </div>
              <div id="contain-avatars">
                <ul class="avatar-list">
                  <li ng-repeat="avatar in avatars" class="avatars ng-scope">
                    <input name="avatar" type='radio' value="{{$index}}" required>
                      <img ng-src="{{avatar}}">
                    </input>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="sign-body">
                <div class="more-sign">
                  <div class="sign-error" ng-show="showError() === 'existinguser'">
                    <p>User already exists.</p>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label for="name" class="control-label"></label>
                <div class="controls">
                  <input class="input-info" id="name" type="text" name="name" placeholder="Full name" required novalidate />
                </div>
              </div>
              <div class="control-group">
                <label for="email" class="control-label"></label>
                <div class="controls">
                  <input class="input-info" id="email" type="email" name="email" placeholder="Email" required novalidate />
                </div>
              </div>
              <div class="control-group">
                <label for="password" class="control-label"></label>
                <div class="controls">
                  <input class="input-info" id="password" type="password" name="password" placeholder="Password" required novalidate />
                </div>
              </div>
              <div class="form-actions">
                <button id="sign-up-btn-other" type='submit'>Sign Up</button>
              </div>

              <div class="hr">
                <div></div>
                <div>OR</div>
                <div></div>
              </div>

              <div class="login-icons">
                <a href="/auth/facebook"><i class="fa fa-3x fa-facebook-official facebook" aria-hidden="true"></i></a>
                <a href="/auth/github"><i class="fa fa-3x fa-github github " aria-hidden="true"></i></a>
                <a href="/auth/twitter"><i class="fa fa-3x fa-twitter twitter" aria-hidden="true"></i></a>
                <a href="/auth/google"><i class="fa fa-3x fa-google google" aria-hidden="true"></i></a>
              </div>
              <div class="auth-switch">
                Already have an account? <a href="#!/signin"> Sign In</a>
              </div>
          </div>
        </div> 
      </form>
    </div>
  </div>
</div>



