<div class="container-fluid">
    <div ng-controller="IndexController">
        <header>
            <nav class="navbar navbar-default navbar-fixed-top" id="nav-id">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
			                  </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <div id="brand-name">
                            <span id="word-one">Cards </span>
                            <span id="word-two">for </span>
                            <span id="word-three">Humanity</span>
                        </div>
                        <div id="home-nav">
                            <ul class="nav navbar-nav">
                                <li><a href="/">Home</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>
</div>
<div id="signup-main">

    <div id="signup-form">
        <div id="auth-form">
            <form class="signup form-horizontal" method="post" action="/api/auth/login">
                <div>
                    <label for="name" class="control-label"></label>
                    <div class="controls">
                        <input class="input-info" id="name" type="text" name="name" placeholder="Full name" required novalidate />
                    </div>
                    <div>
                        <label for="email" class="control-label"></label>
                        <div class="controls">
                            <input class="input-info" id="email" ng-model="login_data.email" type="text" name="email" placeholder="Email" required novalidate/>
                        </div>
                    </div>
                    <div>
                        <label for="password" class="control-label"></label>
                        <div class="controls">
                            <input class="input-info" id="password" ng-model="login_data.password" type="password" name="password" placeholder="Password" required novalidate />
                        </div>
                    </div>
                    <p id="create">Select an</p>
                    <div id="avis">
                        <ul ng-controller="IndexController" class="avatar-list">
                            <li ng-repeat="avatar in avatars" class="avatars ng-scope">
                                <input name="avatar" type='radio' value="{{$index}}">
                                <img ng-src="{{avatar}}">
                                </input>
                            </li>
                        </ul>
                    </div>
                    <div class="auth-button">
                        <button id="sign-up-btn-other" type='submit'>Sign Up</button>
                    </div>
            </form>

            <div class="hr">
                <div></div>
                <div>Or</div>
                <div></div>
            </div>

            <div class="sign-body">
                <div class="more-sign">
                    <div class="sign-error" ng-show="showError() === 'invalid'">
                        <p>Please check your username/password and try again.</p>
                    </div>
                </div>
            </div>
            <div class="login-icons">
                <a href="/auth/facebook"><i class="fa fa-4x fa-facebook-official facebook" aria-hidden="true"></i></a>
                <a href="/auth/github"><i class="fa fa-4x fa-github github " aria-hidden="true"></i></a>
                <a href="/auth/twitter"><i class="fa fa-4x fa-twitter twitter" aria-hidden="true"></i></a>
                <a href="/auth/google"><i class="fa fa-4x fa-google google" aria-hidden="true"></i></a>
            </div>
            </div>
        </div>